.line-container-login {
  position: relative;
}

.line-text-login {
  position: absolute;
  top: -0.5em;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0 0.5em;
}

a {
    text-decoration: none;
}
.login-page {
    width: 100%;
    height: 60vh;
    display: inline-block;
    display: flex;
}
.form-right i {
    font-size: 100px;
}
.goLogin {
cursor: pointer;
border: 2px solid #372863;
border-radius: 5px;
background: none;
}

.goLogin:hover {
    color:white;
    background-color:#372863;
}

/* style inputs and link buttons */
.socialbtn {
width: 100%;
border: none;
border-radius: 4px;
margin: 5px 0;
font-size:16px;
text-align:center;
display: inline-block;
line-height: 20px;
text-decoration: none;
background-color: #5A41A0;
}
.socialbtn:hover{
    background-color: #372863;
}

.consultant{
    background-color:#23a5f1;
    border-radius:5px;
    color:white;
    margin-top:5px
}

.consultant:hover {
    cursor: pointer;
    background-color:#1571a6
}

.consult:hover {
    cursor: pointer;
    color: white !important;
    background-color: #5A41A0 !important;
}

.google {
background-color: #ff4026;
color: white;
}

.google:hover {
background-color: #a12615;
}

#custom-notification,#customnotification {
display: none;
width:400px;
text-align:center;
position: fixed;
top: 0px;
left: 50%;
transform: translateX(-50%);
border-radius: 5px;
background-color: #fff;
color: white;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#custom-notification.success,#customnotification.success{
background-color: #2bdb31;
}
#custom-notification.error,#customnotification.error{
background-color: #f44336;
}

.error-message {
    display: none;
    font-size: 13px;
    color: red;
    margin-top: 5px;
  }

  #spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.562);
    z-index: 9999;
    display: none;
    }

    #spinner {
    position: fixed;
    top: 40%;
    left: 50%;
    z-index: 2000;
    display: none;
    }

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
#right-div{
    border-left:0px;
    border-top:2px solid black;
}
#login-social{
    margin-top:0px
}
}