@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
  }

  a,a:hover{
	text-decoration: none;	
	color: black;
  }

  .topImg{
    width: 100%;
    height: 460px;
    background-image: url('../images/banner.png') ;
    background-size: cover;
}

.go {
	width: 80px;
	height: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	border: 2px solid #76287C;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: none;
}

.go .text {
	transform: translateX(5px);
	color: #76287C;
	font-weight: bold;
}

.go .icon {
	position: absolute;
	border:none;
	transform: translateX(35px);
	height: 36px;
	width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
  background-color: yellow;
}

.go svg {
	width: 15px;
	fill: #76287C;
  font-weight: bold;
}

.go:hover svg {
	fill: white;
}

.go:hover .icon {
  width: 35px;
	border-left: none;
	background-color:purple;
	transform: translateX(35px);
}
.topbar .dropdown{
  border-radius: 10px;
}

.col .card{
  border:none;
}

.col .card-footer{
  border-top: 1px solid #E0E0E0;
  background-color:white
}

.load-more, .load-less {
  margin-top:50px;
  font-weight: bold;
  justify-content:center;
  color:black;
  cursor:pointer;
  font-size: 18px;
}
.load-more:hover, .load-less:hover {
    color:#fe7f10;
}

.notification {
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  animation: fadeOut 8s ease-out forwards;
  z-index: 9999;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.notification.success {
  background-color: #4CAF50;
}

.notification.error {
  background-color: #f44336;
}
.actives{
  background-color:#FE7F10;
  color:white;
  border-radius: 10px 10px 0px 0;
}
.actives a{
  color:white;
}
.actives h6:hover{
  color:white !important
}
.slist h6:hover{
  color:#FE7F10;
  font-weight: bolder;
}
.slist{
  cursor: pointer;
  text-align:center
}
.carousel{
  padding: 0 30px;
  }
  .owl-dots{
  text-align: center;
  margin-top: 40px;
  }
  .owl-dot{
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #9B4800 !important;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  }
  .owl-dot.active,
  .owl-dot:hover{
  background: #9B4800!important;
  }

  /* .imgHover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .hover-img {
    display: block;
    margin: 0 auto;
    width:60% !important;
  }

  .hover-btn {
    display: block;
    margin: 10px auto;
    border-radius: 5px;
  }

  .card:hover .imgHover {
    opacity: 1;
  } */
  /* #popularservices .card:hover{
    background-color:rgba(77, 77, 77, 1)
  } */

  /*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
  .btn-primary {
    color: #fff;
    background-color: #fe7f10;
    border: 2px solid #fe7f10; /*set the color you want here*/
    font-weight:bolder
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active{
      background-color: #9B4800;
      border-color: #9B4800;
  }

.faq{
	color:#76287C;
	font-weight:bolder;
	cursor: pointer;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {background: red;}
  #outerCont{
    text-align: center;
    padding:40px 0px 20px 0px;width:500px;border-radius:10px;margin-top: 50px;background-color:rgba(255, 255, 255, 0.9)
  }
  #headCont{
    font-size:18px; 
    padding-bottom: 10px
  }
  #topContainer{
    text-align: center;
    padding:5px;margin-left:5%
  }
  #sector{
    font-size:medium;
    width: 400px;
  }
  #geography{
    font-size: medium;
    width: 400px;
  }
  #busiStage{
    font-size: medium;
    width: 400px;
  }
  #category{
    font-size: medium;
    width: 400px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
  #outerCont{
    padding:40px 10px 20px 10px;width:700px;border-radius:10px;margin-top: 80px;background-color:rgba(255, 255, 255, 0.9)
  }
  #headCont{
    font-size:x-large; 
  }
  #topContainer{
    text-align: center;
    padding:10px;margin-left:10px
  }
  #sector{
    font-size:small;
    width: 150px;
  }
  #geography{
    font-size: small;
    width: 150px;
  }
  #busiStage{
    font-size: small;
    width: 180px;
  }
  #category{
    font-size: small;
    width: 180px;
  }
  .go .text {
    font-size: medium;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
  #outerCont{
    padding:40px;width:900px;border-radius:10px;margin-top: 80px;background-color:rgba(255, 255, 255, 0.9)
  }
  #headCont{
    font-size:x-large; 
  }
  #topContainer{
    text-align: center;
    padding:20px;margin-left:10px
  }
  #sector{
    font-size:medium;
    width: 180px;
  }
  #geography{
    font-size: medium;
    width: 180px;
  }
  #busiStage{
    font-size: medium;
    width: 220px;
  }
  #category{
    font-size: medium;
    width: 200px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
  #outerCont{
    margin-top: 80px;
  }
  #topContainer{
    margin-left:50px
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
  #topContainer{
    padding:40px;text-align: center;margin-left:80px
  }

  #headCont{
    font-size: xx-large;
  }

  #sector{
    font-size:large;
    width:200px;text-align:left
  }

  #busiStage{
    font-size:large;
    width:250px;text-align:left
  }

  #geography{
    font-size:large;
    width:200px;text-align:left
  }

  #category{
    font-size:large;
    width:250px;text-align:left
  }

  #outerCont{
    border-radius:10px;padding:40px;width:1000px;background-color:rgba(255, 255, 255, 0.9);margin-top: 80px;
  }
}