@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
  }

  a,a:hover{
	text-decoration: none;	
	color: black;
  }

  .topImg{
    width: 100%;
    height: 460px;
    background-image: url('../images/banner.jpg') ;
    background-size: cover;
}

.go {
	width: 80px;
	height: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	border: 2px solid #76287C;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: none;
}

.go .text {
	transform: translateX(5px);
	color: #76287C;
	font-weight: bold;
}

.go .icon {
	position: absolute;
	border:none;
	transform: translateX(35px);
	height: 36px;
	width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
  background-color: yellow;
}

.go svg {
	width: 15px;
	fill: #76287C;
  font-weight: bold;
}

.go:hover svg {
	fill: white;
}

.go:hover .icon {
  width: 35px;
	border-left: none;
	background-color:purple;
	transform: translateX(35px);
}
.col .dropdown .dropdown-toggle{
  border:1px solid #76287C
}

.col .card{
  border:none;
}

.col .card-footer{
  border-top: 1px solid #E0E0E0;
  background-color:white
}

.blockquote-custom-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -40px;
  left: 30px;
  background-color: white;
}

.faq{
	color:#76287C;
	font-weight:bolder;
	cursor: pointer;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {background: red;}
  #outerCont{
    text-align: center;
    padding:40px 0px 20px 0px;width:500px;border-radius:10px;margin-top: 50px;background-color:rgba(255, 255, 255, 0.9)
  }
  #headCont{
    font-size:18px; 
    padding-bottom: 10px
  }
  #topContainer{
    text-align: center;
    padding:5px;margin-left:5%
  }
  #sector{
    font-size:medium;
    width: 400px;
  }
  #geography{
    font-size: medium;
    width: 400px;
  }
  #busiStage{
    font-size: medium;
    width: 400px;
  }
  #category{
    font-size: medium;
    width: 400px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
  #outerCont{
    padding:40px 10px 20px 10px;width:700px;border-radius:10px;margin-top: 80px;background-color:rgba(255, 255, 255, 0.9)
  }
  #headCont{
    font-size:x-large; 
  }
  #topContainer{
    text-align: center;
    padding:10px;margin-left:10px
  }
  #sector{
    font-size:small;
    width: 150px;
  }
  #geography{
    font-size: small;
    width: 150px;
  }
  #busiStage{
    font-size: small;
    width: 180px;
  }
  #category{
    font-size: small;
    width: 180px;
  }
  .go .text {
    font-size: medium;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
  #outerCont{
    padding:40px;width:900px;border-radius:10px;margin-top: 80px;background-color:rgba(255, 255, 255, 0.9)
  }
  #headCont{
    font-size:x-large; 
  }
  #topContainer{
    text-align: center;
    padding:20px;margin-left:10px
  }
  #sector{
    font-size:medium;
    width: 180px;
  }
  #geography{
    font-size: medium;
    width: 180px;
  }
  #busiStage{
    font-size: medium;
    width: 220px;
  }
  #category{
    font-size: medium;
    width: 200px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
  #outerCont{
    margin-top: 80px;
  }
  #topContainer{
    margin-left:50px
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
  #topContainer{
    padding:40px;text-align: center;margin-left:80px
  }

  #headCont{
    font-size: xx-large;
  }

  #sector{
    font-size:large;
    width:200px;text-align:left
  }

  #busiStage{
    font-size:large;
    width:250px;text-align:left
  }

  #geography{
    font-size:large;
    width:200px;text-align:left
  }

  #category{
    font-size:large;
    width:250px;text-align:left
  }

  #outerCont{
    border-radius:10px;padding:40px;width:1000px;background-color:rgba(255, 255, 255, 0.9);margin-top: 80px;
  }
}